
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

p,h2{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;

    background-color: rgb(197, 176, 193);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-main{
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 0px 0px 30px 10px rgb(110, 110, 110);
}
.img-center{
    border-radius: 50%;
    padding: 10px;
    border: 5px dotted yellow;
    width: 250px;
}

.name{
    background-color: yellow;
    min-width: 250px;
    max-width: 350px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    
    position: relative;
    margin-top: -35px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.space{
    position: relative;
    top: -35px;
}

.margin-top{
    margin-top: -35px;
    border-bottom: 1px solid rgb(52,58,64);
}

.inline{
    display: inline;
}

i{
    font-size: 28px;
    padding-right: 15px;
}

.line{
    border-top: 1px solid rgb(52,58,64);
    padding-top: 15px;
    border-width: 50%;
}